<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Bookstore</h1>

    <h2>Book List</h2>
    <ul>
        <li th:each="book : ${books}" th:text="${book.title + ' by ' + book.author}"></li>
    </ul>

    <h2>Add a new book</h2>
    <form action="#" th:action="@{/index}" th:object="${newBook}" method="post">
    	<table>
            <tr>
                <td>Title: <input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td>Author: <input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td>Publication Year: <input type="text" th:field="*{publicationYear}" /></td>
            </tr>
            <tr>
                <td>ISBN: <input type="text" th:field="*{isbn}" /></td>
            </tr>
            <tr>
                <td>Price: <input type="text" th:field="*{price}" /></td>
            </tr>
        </table>
        <p><input type="submit" value="Add Book" /></p>
    </form>
</body>
</html>
